@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
body {
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
}

#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #502050;
  padding: 100px 140px 20px;
}

/*header-left*/
#right {
  width: 50%;
  background-image: url("./images/bg-pattern-top-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#right-col1 {
  width: 70%;
  font-size: 3.2rem;
  line-height: 60px;
  font-weight: 700;
}

#right-col2 {
  width: 75%;
  line-height: 30px;
  font-size: 1.2rem;
  font-weight: 500;
}

/*header right*/
#left {
  width: 50%;
  background-image: url("./images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 23px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f7f2f7;
  padding: 12px 27px 8px 28px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 70%;
  font-size: 15px;
  font-weight: bold;
}

.rating2 {
  -webkit-transform: translateX(15%);
  transform: translateX(15%);
}

.rating3 {
  -webkit-transform: translateX(30%);
  transform: translateX(30%);
}

.stars {
  margin-right: 40px;
}

.stars img {
  margin-right: 5px;
  margin-top: 17px;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0px 140px;
}

.mainClass {
  background-color: #502050;
  color: white;
  font-size: 14px;
  width: calc(33.33% - 80px);
  border-radius: 10px;
  line-height: 24px;
  padding: 40px 30px;
  margin-top: 50px;
  margin-right: 20px;
}

.wholeCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.wholeCard.cardheading {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 17px;
}

.wholeCard.tag {
  color: #ee68a4;
}

.wholeCard img {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  margin-right: 20px;
}

.wholeCardtag {
  line-height: 20px;
}

.wholeCardtag .cardheading {
  margin-top: 0px;
  margin-bottom: 6px;
}

.wholeCardtag .tag {
  margin-top: 0px;
  margin-bottom: 0px;
}

.mainClass p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 15px;
}

.mainClass:nth-child(3n-1) {
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
}

.mainClass:nth-child(3n) {
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
}

.stars {
  padding: 0px;
}

@media (max-width: 600px) {
  /*header-left*/
  #content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0px;
  }
  #right {
    width: 100%;
    background-image: url("./images/bg-pattern-top-mobile.svg");
  }
  #right-col1 {
    font-size: 2.2rem;
    line-height: 43px;
    width: 100%;
    text-align: center;
  }
  #right-col2 {
    width: 100%;
    text-align: center;
  }
  #left {
    width: 100%;
    background-image: url("./images/bg-pattern-bottom-mobile.svg");
    margin-top: 23px;
  }
  .rating {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .rating2 {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  .rating3 {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  .stars {
    margin-right: 0px;
  }
  .stars img {
    margin-right: 0px;
    margin-top: 8px;
  }
  #main {
    padding: 0px 0px;
  }
  .cardheading {
    white-space: none;
    max-width: 100%;
  }
  .mainClass:nth-child(3n-1) {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  .mainClass:nth-child(3n) {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  .mainClass p {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  #content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0px;
  }
  #right {
    width: 100%;
    background-image: url("./images/bg-pattern-top-mobile.svg");
  }
  #right-col1 {
    font-size: 2.2rem;
    line-height: 43px;
    width: 100%;
    text-align: center;
  }
  #right-col2 {
    width: 100%;
    text-align: center;
  }
  #left {
    width: 100%;
    background-image: url("./images/bg-pattern-bottom-mobile.svg");
    margin-top: 23px;
  }
  .rating {
    width: 89%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .rating2 {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  .rating3 {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  .stars {
    margin-right: 0px;
  }
  .stars img {
    margin-right: 0px;
    margin-top: 8px;
  }
  #main {
    padding: 0px 0px;
  }
  .cardheading {
    white-space: none;
    max-width: 100%;
    font-size: 17px;
  }
  .mainClass {
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
  }
  .mainClass:nth-child(3n-1) {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  .mainClass:nth-child(3n) {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
/*# sourceMappingURL=style.css.map */